
body{

    background: url("../img/download.jpg");

}
.top .bg-dark{
    background-color: #000 !important;
}
.logo{
    width: 100px;
    height: auto;
}
.content .bg {
    margin-right: auto;
    margin-left: auto;
    background :burlywood;
    padding: 16px 5px;
}
.footer .container .copyright{

    margin-right: auto;
    margin-left: auto;
    background:black;
    padding:20px;
}
.footer p{
    color: #fff;
}
/*#wrapper{


    margin: 0 auto;
    width: 970px;
    height: auto;
    background-color: #0c5460;
}
#header{
    padding-top: 90px;
    background-color: black ;
    padding-bottom: 10px;
}
#menu{
    color: #ffffff;
    background-color: black;
    padding-top: 70px;
}
.menubotton{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

#slide{
    height: 350px;
    width:100%;
    background-color:#0f6674;
    padding: 0 0 0 0;

}
#content{
  background-color: white;
padding-top: 20px;



}
#footer{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 7px;
  text-align: center;


}
